{% extends 'base.html' %}

{% block title %}
    Receitas | {{ block.super }}
{% endblock title %}

{% block body %}

    <div class='container'>
        <div class='row justify-content-center mt-3'>
            <div class='col'>
                <h1>Receitas</h1>
                {% include 'blocos/mensagens.html' %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Valor R$</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receita in receitas %}
                            <tr>
                                <th scope="row">{{ categoria.id }}</th>
                                <td>{{ categoria.descricao }}</td>
                                <td>{{ categoria.valor }}</td>
                                <td>{{ categoria.categoria }}</td>
                                <td>
                                    <a href="" class="btn btn-outline-secondary btn-sn">Editar</a>
                                    <a href="" class="btn btn-outline-danger btn-sn">Apagar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'financas:nova_receita' %}" class="btn btn-primary">Nova receita</a>
            </div>
        </div>
    </div>


{% endblock body %}