{% extends 'base.html' %}

{% block title %}
    Despesa | {{ block.super }}
{% endblock title %}

{% block body %}

    <div class='container'>
        <div class='row justify-content-center mt-3'>
            <div class='col'>
                <h1>Despesa</h1>
                {% include 'blocos/mensagens.html' %}
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Identificação</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Valor R$</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for despesa in despesas %}
                            <tr>
                                <th scope="row">{{ despesa.id }}</th>
                                <td>{{ despesa.identificacao }}</td>
                                <td>{{ despesa.descricao }}</td>
                                <td>{{ despesa.valor }}</td>
                                <td>{{ despesa.categoria }}</td>
                                <td>{{ despesa.cadastrada_em|date:'d/m/y' }}</td>
                                <td>
                                    <a href="{% url 'financas:editar_despesa' despesa.id %}" class="btn btn-outline-secondary btn-sn">Editar</a>
                                    <a href="{% url 'financas:apagar_despesa' despesa.id %}" class="btn btn-outline-danger btn-sn">Apagar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'financas:nova_despesa' %}" class="btn btn-primary">Nova despesa</a>
            </div>
        </div>
    </div>


{% endblock body %}